$what-bg-color: rgba(255, 255, 255, 0.074);

.what-card {
    &-container {
        box-shadow: inset 0 0 10rem $what-bg-color;
        border-radius: 4px;
        margin: 0.5rem;
        height: 120px;
        width: 350px;

        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-inline: 1rem;
        padding-bottom: 1rem;
        color: var(--color-primary);
        font-size: 18px;

        position: relative;
        z-index: 1;
    }
    &-title,
    &-content {
        text-align: justify;
    }
    &-title {
        font-size: 20px;
        font-weight: 600;
    }
    &-content {
        margin-top: 0.5rem;
    }
}

.what-card-container:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    filter: blur(10px);
    box-shadow: 0 0 1px 2px rgba(255, 255, 255, 0.406);
}

.why-card {
    &-container {
        padding: 0.5rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        position: relative;
        z-index: 1;
    }

    &-background {
        position: absolute;
        z-index: -1;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        overflow: hidden;

        img {
            display: block;
            // width: 100%;
            // height: 100%;
            opacity: 0.5;
        }
    }

    &-title button {
        $color: rgba(217, 255, 0, 0.312);
        box-shadow: 0 0 8px 2px $color;
        background: $color;
        border-radius: 60%;
        color: var(--color-accent);
        margin-right: 0.5rem;
        color: var(--color-primary);
        padding: 4px;

        svg {
            font-size: 20px;
        }
    }

    &-title {
        display: flex;
        color: var(--color-bg-primary);
        align-items: center;
        text-align: justify;
        font-size: 18px;
        font-weight: 700;
        width: 100%;
    }

    &-content {
        text-align: justify;
        margin-top: 0.5rem;
        // padding-left: 3rem;
        padding: 0.5rem;
        color: var(--color-primary);
        font-weight: 500;
    }
}
