$max-width: 80vw;
$padding: 2rem;

//Layout
.container {
    width: 100%;
    padding-inline: 10%;
}

//Flex
.display {
    &-flex {
        display: flex;
    }

    &-grid {
        display: grid;
    }
}

.flex {
    &-grow {
        flex-grow: 1;
    }

    &-now-wrap {
        flex-wrap: nowrap;
    }

    &-wrap {
        flex-wrap: wrap;
    }

    &-column {
        flex-direction: column;
    }

    &-row {
        flex-direction: row;
    }
}

.jc {
    &-center {
        justify-content: center;
    }
    &-evenly {
        justify-content: space-evenly;
    }
    &-between {
        justify-content: space-between;
    }
    &-around {
        justify-content: space-around;
    }
}

.ai {
    &-center {
        align-items: center;
    }
}

//Button
.btn {
    cursor: pointer;
    transition: all 200ms ease-in-out;
    padding: 0.5rem;
    margin-inline: 1rem;

    &-bordered {
        border-radius: 7px;
    }
    &-icon {
        outline: none;
        background-color: transparent;
        border: none;
        padding-inline: 0.5rem;
    }

    &-primary {
        background-color: var(--color-primary);
        border: 2px solid var(--color-secondary);
        color: #fff;

        &:hover {
            background-color: var(--color-primary-hover);
        }
    }
    &-secondary {
        background-color: var(--color-secondary);
        border: 2px solid var(--color-secondary);
        color: #fff;

        &:hover {
            background-color: var(--color-secondary-hover);
            border: 2px solid var(--color-secondary-hover);
        }
    }

    &-outline {
        &-primary {
            background: transparent;
            border: 2px solid var(--color-primary);
            color: var(--color-primary);

            &:hover {
                color: #fff;
                background-color: var(--color-primary);
                border: 2px solid var(--color-primary);
            }
        }
    }
}

//Padding
.p {
    &-1 {
        padding: 0.5rem !important;
    }
    &-2 {
        padding: 1rem !important;
    }
    &-3 {
        padding: 1.5rem !important;
    }
    &-4 {
        padding: 2.5rem !important;
    }
    &-5 {
        padding: 3rem !important;
    }

    &-inline-1 {
        padding-inline: 0.5rem !important;
    }
    &-inline-2 {
        padding-inline: 1rem !important;
    }
    &-inline-3 {
        padding-inline: 1.5rem !important;
    }
    &-inline-4 {
        padding-inline: 2.5rem !important;
    }
    &-inline-5 {
        padding-inline: 3rem !important;
    }

    &-block-1 {
        padding-block: 0.5rem !important;
    }
    &-block-2 {
        padding-block: 1rem !important;
    }
    &-block-3 {
        padding-block: 1.5rem !important;
    }
    &-block-4 {
        padding-block: 2.5rem !important;
    }

    &t-1 {
        padding-top: 0.5rem !important;
    }
    &t-2 {
        padding-top: 1rem !important;
    }
    &t-3 {
        padding-top: 1.5rem !important;
    }
    &t-4 {
        padding-top: 2.5rem !important;
    }
    &t-5 {
        padding-top: 5rem !important;
    }
    &t-6 {
        padding-top: 6rem !important;
    }
    &t-7 {
        padding-top: 7rem !important;
    }
    &t-8 {
        padding-top: 8rem !important;
    }

    &s-1 {
        padding-left: 0.5rem !important;
    }
    &s-2 {
        padding-left: 1rem !important;
    }
    &s-3 {
        padding-left: 1.5rem !important;
    }
    &s-4 {
        padding-left: 2.5rem !important;
    }
    &s-5 {
        padding-left: 5rem !important;
    }
    &s-6 {
        padding-left: 6rem !important;
    }
    &s-7 {
        padding-left: 7rem !important;
    }
    &s-8 {
        padding-left: 8rem !important;
    }
}

//Margin
.m {
    &-inline-1 {
        margin-inline: 0.5rem !important;
    }
    &-inline-2 {
        margin-inline: 1rem !important;
    }
    &-inline-3 {
        margin-inline: 1.5rem !important;
    }
    &-inline-4 {
        margin-inline: 2.5rem !important;
    }
    &-inline-auto {
        margin-inline: auto;
    }

    &-block-1 {
        margin-block: 0.5rem !important;
    }
    &-block-2 {
        margin-block: 1rem !important;
    }
    &-block-3 {
        margin-block: 1.5rem !important;
    }
    &-block-4 {
        margin-block: 2.5rem !important;
    }

    &e-1 {
        margin-right: 2px !important;
    }
    &e-2 {
        margin-right: 4px !important;
    }
    &e-3 {
        margin-right: 0.5rem !important;
    }
    &e-4 {
        margin-right: 1rem !important;
    }
    &e-5 {
        margin-right: 1.5rem !important;
    }
    &e-6 {
        margin-right: 2.5rem !important;
    }

    &s-1 {
        margin-left: 2px !important;
    }
    &s-2 {
        margin-left: 4px !important;
    }
    &s-3 {
        margin-left: 0.5rem !important;
    }
    &s-4 {
        margin-left: 1rem !important;
    }
    &s-5 {
        margin-left: 1.5rem !important;
    }
    &s-6 {
        margin-left: 2.5rem !important;
    }

    &t-1 {
        margin-top: 2px !important;
    }
    &t-2 {
        margin-top: 4px !important;
    }
    &t-3 {
        margin-top: 0.5rem !important;
    }
    &t-4 {
        margin-top: 1rem !important;
    }
    &t-5 {
        margin-top: 1.5rem !important;
    }
    &t-6 {
        margin-top: 2.5rem !important;
    }

    &-bottom {
        margin-bottom: 4px !important;
    }
}

.w {
    &100 {
        width: 100%;
    }
    &90 {
        width: 90%;
    }
    &75 {
        width: 75%;
    }
    &50 {
        width: 50%;
    }
}

//Opacity
.opacity {
    &-85 {
        //85%
        opacity: 0.85;
    }
    &-75 {
        //75%
        opacity: 0.75;
    }
    &-50 {
        //50%
        opacity: 0.5;
    }
}

// Cursor
.pointer {
    cursor: pointer !important;
}

//Media Query
@media screen and (max-width: 590px) {
    $padding: 0.5rem;
    .container {
        width: calc(100% - $padding);
    }
}
