#home {
    width: 100%;
    min-height: 100vh;
}

#homeBody {
    text-align: center;
}

.home {
    &-body {
        max-height: 100vh;
        min-height: 95vh;
        padding-top: 120px;
    }
}

.cta {
    &-btn {
        width: 180px;
        display: flex;
        align-items: center;
        justify-content: center;

        transition: all 350ms;

        svg {
            font-size: 18px;
        }
    }

    &-btn:nth-child(1) svg {
        margin-right: 10px;
    }
    &-btn:nth-child(2) svg {
        margin-left: 10px;
    }

    &-container {
        width: 100%;
        text-align: center;
    }
}
