.navbar {
    width: 100%;
    padding-block: 0.5rem;
    display: flex;
    align-items: center;
    position: fixed;
    z-index: 10;

    a {
        outline: none;
    }
    &-brand {
        font-size: 32px;
        font-weight: 700;

        a {
            letter-spacing: 1.5px;
        }
    }

    li {
        margin-left: 1rem;
    }
}
.nav {
    &-item,
    &-list,
    &-link {
        list-style: none;
        text-decoration: none;
    }

    &-contact {
        list-style: none;
        text-decoration: none;
        margin-bottom: -25px;
        &-list {
            list-style: none;
            text-decoration: none;

            p {
                display: flex;
                align-items: center;
            }
        }

        &-link {
            text-decoration: none;
            display: flex;
            align-items: center;
        }
    }

    &-item,
    &-contact {
        display: flex;
        // align-items: center;
    }
}

.navbar:before {
    z-index: -1;
    content: "";
    filter: blur(5px);
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
}
