@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&display=swap");

:root {
    --poppins: "Poppins";
    --dancing-scripts: "Dancing Script";

    --color-primary: #FF7C03;
    --color-secondary: #2CBA83;
    --color-accent: #99DB21;
    
    --color-primary-hover: hsla(29, 95%, 33%, 0.8);
    --color-secondary-hover: hsla(157, 82%, 32%, 0.8);
    --color-accent-hover: hsla(81, 85%, 42%, 0.8);

    --color-disbale:#b0aeae;
    --color-warning: #e96e6e;
    --color-info: #2782d6;
    --color-error: #e6ad32;
    --color-success: #5cde57;

    --color-bg-primary:#350c25;
    --color-bg-primary-75:hsla(323, 63%, 13%, .75);
    --color-bg-secondary:#0f4c5c;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.2;
    font-family: var(--poppins);
}

// Custom Design

.hide{
    display: none !important;
}

.show{
    display: flex !important;
}



.gradient-text{
    

    /* ff 3.6+ */
    background:-moz-radial-gradient(circle at 0% 0%, #2CBA83 0%, #FF7C03 50%, #99DB21 100%);

    /* safari 5.1+,chrome 10+ */
    background:-webkit-radial-gradient(circle at 0% 0%, #2CBA83 0%, #FF7C03 50%, #99DB21 100%);

    /* opera 11.10+ */
    background:-o-radial-gradient(circle at 0% 0%, #2CBA83 0%, #FF7C03 50%, #99DB21 100%);

    /* ie 10+ */
    background:-ms-radial-gradient(circle at 0% 0%, #2CBA83 0%, #FF7C03 50%, #99DB21 100%);

    /* global 92%+ browsers support */
    background:radial-gradient(circle at 0% 0%, #2CBA83 0%, #FF7C03 50%, #99DB21 100%);

    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.clr
{
    &-accent{
    color: var(--color-accent);
    }
    &-primary{
        color: var(--color-primary);
    }
    &-secondary{
        color: var(--color-secondary);
    }
}
.gradient-bg-light{
    /* ff 3.6+ */
    background:-moz-radial-gradient(circle at 9% 14%, rgba(240, 240, 235, 1) 0%, rgba(44, 186, 131, 1) 99%);

    /* safari 5.1+,chrome 10+ */
    background:-webkit-radial-gradient(circle at 9% 14%, rgba(240, 240, 235, 1) 0%, rgba(44, 186, 131, 1) 99%);

    /* opera 11.10+ */
    background:-o-radial-gradient(circle at 9% 14%, rgba(240, 240, 235, 1) 0%, rgba(44, 186, 131, 1) 99%);

    /* ie 10+ */
    background:-ms-radial-gradient(circle at 9% 14%, rgba(240, 240, 235, 1) 0%, rgba(44, 186, 131, 1) 99%);

    /* global 92%+ browsers support */
    background:radial-gradient(circle at 9% 14%, rgba(240, 240, 235, 1) 0%, rgba(44, 186, 131, 1) 99%);

}

.gradient-bg-dark {
    /* ff 3.6+ */
    background: -moz-radial-gradient(circle at 0% 19%, #0f4c5c 0%, #350c25 53%);
  
    /* safari 5.1+,chrome 10+ */
    background: -webkit-radial-gradient(
      circle at 0% 19%,
      #0f4c5c 0%,
      #350c25 53%
    );
  
    /* opera 11.10+ */
    background: -o-radial-gradient(circle at 0% 19%, #0f4c5c 0%, #350c25 53%);
  
    /* ie 10+ */
    background: -ms-radial-gradient(circle at 0% 19%, #0f4c5c 0%, #350c25 53%);
  
    /* global 92%+ browsers support */
    background: radial-gradient(circle at 0% 19%, #0f4c5c 0%, #350c25 53%);
  }

.bg
{
    &-accent{
        background-color: var(--color-accent);
    }
    &-primary{
        background-color: var(--color-bg-primary);
    }
    &-primary-75{
        background-color: var(--color-bg-primary-75);
    }
    &-secondary{
        background-color: var(--color-bg-secondary);
    }
}

