@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&display=swap");

:root {
    --poppins: "Poppins";
    --dancing-scripts: "Dancing Script";

    --color-primary: #ff7c03;
    --color-secondary: #2cba83;
    --color-accent: #99db21;

    --color-primary-hover: hsla(29, 95%, 33%, 0.8);
    --color-secondary-hover: hsla(157, 82%, 32%, 0.8);
    --color-accent-hover: hsla(81, 85%, 42%, 0.8);

    --color-disable: #b0aeae;
    --color-warning: #e96e6e;
    --color-info: #2782d6;
    --color-error: #e6ad32;
    --color-success: #5cde57;

    --color-bg-primary: #350c25;
    --color-bg-primary-95: hsla(323, 63%, 13%, 0.95);
    --color-bg-primary-75: hsla(323, 63%, 13%, 0.75);
    --color-bg-secondary: #0f4c5c;

    --inset-shadow: rgba(0, 0, 0, 0.522);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.2;
    font-family: var(--poppins);
    scroll-behavior: smooth;
    user-select: none;
}

// Custom Design

.hide {
    display: none !important;
}

.show {
    display: flex !important;
}

.gradient-text {
    /* ff 3.6+ */
    background: -moz-radial-gradient(
        circle at 0% 0%,
        #2cba83 0%,
        #ff7c03 50%,
        #99db21 100%
    );

    /* safari 5.1+,chrome 10+ */
    background: -webkit-radial-gradient(
        circle at 0% 0%,
        #2cba83 0%,
        #ff7c03 50%,
        #99db21 100%
    );

    /* opera 11.10+ */
    background: -o-radial-gradient(
        circle at 0% 0%,
        #2cba83 0%,
        #ff7c03 50%,
        #99db21 100%
    );

    /* ie 10+ */
    background: -ms-radial-gradient(
        circle at 0% 0%,
        #2cba83 0%,
        #ff7c03 50%,
        #99db21 100%
    );

    /* global 92%+ browsers support */
    background: radial-gradient(
        circle at 0% 0%,
        #2cba83 0%,
        #ff7c03 50%,
        #99db21 100%
    );

    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.clr {
    &-accent {
        color: var(--color-accent) !important;
    }
    &-primary {
        color: var(--color-primary) !important;
    }
    &-secondary {
        color: var(--color-secondary) !important;
    }
    &-bg-primary {
        color: var(--color-bg-primary) !important;
    }
    &-bg-secondary {
        color: var(--color-bg-secondary) !important;
    }
}
.gradient-bg-light {
    /* ff 3.6+ */
    background: -moz-linear-gradient(150deg, #210014 10%, #0ddfbe 66%);

    /* safari 5.1+,chrome 10+ */
    background: -webkit-linear-gradient(150deg, #210014 10%, #0ddfbe 66%);

    /* opera 11.10+ */
    background: -o-linear-gradient(150deg, #210014 10%, #0ddfbe 66%);

    /* ie 6-9 */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0DDFBE', endColorstr='#210014', GradientType=1 );

    /* ie 10+ */
    background: -ms-linear-gradient(150deg, #210014 10%, #0ddfbe 66%);

    /* global 94%+ browsers support */
    background: linear-gradient(150deg, #210014 10%, #0ddfbe 66%);
}

.gradient-bg-dark {
    /* ff 3.6+ */
    background: -moz-radial-gradient(circle at 0% 19%, #0f4c5c 0%, #350c25 53%);

    /* safari 5.1+,chrome 10+ */
    background: -webkit-radial-gradient(
        circle at 0% 19%,
        #0f4c5c 0%,
        #350c25 53%
    );

    /* opera 11.10+ */
    background: -o-radial-gradient(circle at 0% 19%, #0f4c5c 0%, #350c25 53%);

    /* ie 10+ */
    background: -ms-radial-gradient(circle at 0% 19%, #0f4c5c 0%, #350c25 53%);

    /* global 92%+ browsers support */
    background: radial-gradient(circle at 0% 19%, #0f4c5c 0%, #350c25 53%);
}

.bg {
    &-accent {
        background-color: var(--color-accent);
    }
    &-primary {
        background-color: var(--color-bg-primary);
    }
    &-primary-75 {
        background-color: var(--color-bg-primary-75);
    }
    &-secondary {
        background-color: var(--color-bg-secondary);
    }

    &-glass {
        /* ff 3.6+ */
        background: -moz-radial-gradient(
            circle at 0% 0%,
            #0f4c5cd6 0%,
            #350c25c9 100%
        );

        /* safari 5.1+,chrome 10+ */
        background: -webkit-radial-gradient(
            circle at 0% 0%,
            #0f4c5cd6 0%,
            #350c25c9 100%
        );

        /* opera 11.10+ */
        background: -o-radial-gradient(
            circle at 0% 0%,
            #0f4c5cd6 0%,
            #350c25c9 100%
        );

        /* ie 10+ */
        background: -ms-radial-gradient(
            circle at 0% 0%,
            #0f4c5cd6 0%,
            #350c25c9 100%
        );

        /* global 92%+ browsers support */
        background: radial-gradient(
            circle at 0% 0%,
            #0f4c5cd6 0%,
            #350c25c9 100%
        );
    }
}

.hide {
    &-zoom-in,
    &-tablet,
    &-mobile {
        display: none !important;
    }
}

@media screen and (min-width: 1120px) {
    .hide-zoom-in {
        display: flex !important;
    }
}

@media screen and (min-width: 820px) {
    .hide-tablet {
        display: flex !important;
    }
}

@media screen and (min-width: 399px) {
    .hide-mobile {
        display: flex !important;
    }
}

.display {
    &-zoom-in,
    &-tablet,
    &-mobile {
        display: none !important;
    }
}

@media screen and (max-width: 1119px) {
    .display-zoom-in {
        display: flex !important;
    }
}

@media screen and (max-width: 820px) {
    .display-tablet {
        display: flex !important;
    }
}

@media screen and (max-width: 399px) {
    .display-mobile {
        display: flex !important;
    }
}
