@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&display=swap");

:root {
    --poppins: "Poppins";
    --dancing-scripts: "Dancing Script";

    --gradient-text:
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.2;
    font-family: var(--poppins);
}

// Custom Design
.gradient-text{
    

    /* ff 3.6+ */
    background:-moz-radial-gradient(circle at 0% 0%, #2CBA83 0%, #FF7C03 50%, #99DB21 100%);

    /* safari 5.1+,chrome 10+ */
    background:-webkit-radial-gradient(circle at 0% 0%, #2CBA83 0%, #FF7C03 50%, #99DB21 100%);

    /* opera 11.10+ */
    background:-o-radial-gradient(circle at 0% 0%, #2CBA83 0%, #FF7C03 50%, #99DB21 100%);

    /* ie 10+ */
    background:-ms-radial-gradient(circle at 0% 0%, #2CBA83 0%, #FF7C03 50%, #99DB21 100%);

    /* global 92%+ browsers support */
    background:radial-gradient(circle at 0% 0%, #2CBA83 0%, #FF7C03 50%, #99DB21 100%);

    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
