#whyCBS {
    min-height: 100vh;
    background-attachment: fixed;

    position: relative;
    z-index: 1;

    li,
    ul,
    a {
        text-decoration: none;
        list-style: none;
    }
}

.cbs {
    &-list,
    &-item {
        list-style: none;
    }

    &-item {
        width: 100%;
        justify-content: space-evenly;
        flex-wrap: wrap;

        position: absolute;
        top: -42px;
        left: 0;
        right: 0;
    }

    &-list {
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        flex-direction: column;
        height: 100px;
        width: 350px;
        margin-block: 1rem;

        position: relative;

        svg,
        p {
            color: #cbcbcb;
        }

        p {
            font-size: 20px;
        }

        svg {
            font-size: 40px;
        }
    }

    &-list:nth-child(1) {
        $color: rgba(204, 255, 0, 0.873);
        box-shadow: inset 0 0 10rem $color;
        border-radius: 10px;
        border: 1px solid $color;
    }

    &-list:nth-child(1):before {
        content: "";
        filter: blur(5px);
        position: absolute;
        z-index: -1;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        box-shadow: 0 0 4px 1px rgba(204, 255, 0, 0.873);
    }
    &-list:nth-child(2) {
        $color: rgba(252, 134, 0, 0.95);
        box-shadow: inset 0 0 10rem $color;
        border-radius: 10px;
        border: 1px solid $color;
    }

    &-list:nth-child(2):before {
        content: "";
        filter: blur(5px);
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        box-shadow: 0 0 4px 1px rgba(252, 134, 0, 0.95);
    }
    &-list:nth-child(3) {
        $color: rgba(1, 255, 153, 0.816);
        box-shadow: inset 0 0 10rem $color;
        border-radius: 10px;
        border: 1px solid $color;
    }

    &-list:nth-child(3):before {
        content: "";
        filter: blur(5px);
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        box-shadow: 0 0 2px 1px rgb(1, 255, 153);
        border: 1px solid rgb(1, 255, 153);
    }

    &-what-item {
        width: 100%;
    }
}

.cbs-why {
    $cbs-why-color: linear-gradient(
        120deg,
        rgba(113, 218, 22, 0.711),
        rgba(225, 160, 62, 0.806),
        rgba(14, 176, 25, 0.687)
    );
    width: 100%;
    display: flex;
    align-items: center;

    &-img {
        border-radius: 50%;
        background: $cbs-why-color;
        box-shadow: inset 0 0 10rem $cbs-why-color;
        position: relative;
        img {
            width: 500px;
            height: 100%;
            opacity: 0.95;
        }
    }

    &-img:before {
        box-shadow: 0 0 8px 2px $cbs-why-color;
        position: absolute;
        inset: 0;
    }

    &-list {
        padding: 2rem;
        display: flex;
        width: 100%;
    }

    a {
        color: inherit;
        text-decoration: underline !important;
    }
}

.cbs-why-list-item:hover .cbs-why-bar {
    width: 150px;
}

.cbs-why-list-item {
    text-align: justify;
    p:nth-child(1) {
        position: relative;
        z-index: 1;
        display: inline;
    }
    p:nth-child(1):after {
        content: "";
        position: absolute;
        z-index: 2;

        height: 2px;
        background: var(--color-accent);
        bottom: -2px;
        left: 0;
        width: 20px;
        transition: all 500ms ease-in-out;
    }
}

.cbs-why-list-item:hover p:nth-child(1):after {
    width: 100%;
}

@keyframes slide-right {
    0% {
        width: 100%;
        transform: scaleX(0.1);
    }
    100% {
        right: 0;
        transform: scaleX(1);
    }
}
